.picture-tag {
    max_height: 33%;
    width: 33%;
}

.facility-table {
    background-color: #428e97;
}

table td {
    background-color: #a09d92;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.facility-link {
    color: black;
}

label {
    width:150px;
    height: 30px;
    display:inline-block;
}

input {
    display: inline;
}

.formtype-2 label {
    width:auto;
    height: 30px;
    display:inline-block;
}

.form-2 label {
    width:auto;
    height: 30px;
}

.kind {
    display: inline-block;
    color: white;
    font-weight: bold;
}

#search {
    margin: auto;
}

.hidden {
    visibility: hidden;
}

.disabled {
    disabled: True;
    background-color: blue;
}