{% extends 'sportchallenger/base.html' %}

{% block content %}
<p id="about">
    <img id='logo' class="img-thumbnail img-responsive" src="/static/pictures/logo.png">
    Nowadays active and healthy lifestyle becomes more and more popular, especially among young people. We can participate
in many different sport disciplines and choose one, which best suits us. However to enjoy sport we need the right place
and competitors, but where to find them? Of course in Sport Challenger!Sport Challenger is an online service
designed for active people. The service gives customers the chance to find and reserve a place for working out, both
for individual and team players. Using this application customers can find most suitable gym, football pitch, tennis
court and many other locations in their city and reserve the convenient date of training. Everything to let users feel
like professional players
</p>
{% endblock %}

{% block title %} Sport Challenger {% endblock %}
