{% extends 'sportchallenger/base.html' %}

{% block content %}
<p id="about">
    <img id='logo' class="img-thumbnail img-responsive" src="/static/pictures/logo.png">
    Zdrowy lifestyle staje się obecnie coraz popularniejszy, szczególnie wśród młodszego pokolenia. Mamy możliwość
    uczestniczenia w wielu dyscyplinach sportu, jednak aby móc w pełni zaangażować się w konkretną dyscyplinę
    niezbędne są odpowiednio wyposażone obiekty sportowe. Sport Challenger powstał, aby umożliwić łatwy dostęp
    do obiektów sportowych. Dzięki serwisowi możliwe jest dokonanie w łatwy sposób rezerwacji na wybrane obiekty
    sportowe.
    W systemie istnieje możliwość sortowania obiektów według użyteczności (np. hala sportowa, basen, boisko piłkarskie),
    a także według konkretnych dyscyplin sportu oraz lokalizacji. Każdy obiekt ma przypisany własny kalendarz,
    który jest dynamicznie aktualizowany w trakcie dokonywania rezerwacji.
    Dzięki serwisowi korzystanie z dobrze wyposażonych i dogodnie zlokalizowanych obiektów sportowych stanie się
    jeszcze prostsze. Wszystko po to, aby umożliwić użytkownikom profesjonalne warunki do doskonalenia umiejętności.

</p>
{% endblock %}

{% block title %} Sport Challenger {% endblock %}
