{% extends 'sportchallenger/base.html' %}

{% block content %}
<div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      Luty <br>
      <span style="font-size:18px">2017</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
    <li></li>
    <li></li>
    <li> <button type="button">1</button> </li>
    <li> <button type="button">2</button> </li>
    <li> <button type="button">3</button> </li>
    <li> <button type="button">4</button> </li>
    <li> <button type="button">5</button> </li>
    <li> <button type="button">6</button> </li>
    <li> <button type="button">7</button> </li>
    <li> <button type="button">8</button> </li>
    <li> <button type="button">9</button> </li>
    <li> <button type="button">10</button> </li>
    <li> <button type="button">11</button> </li>
    <li> <button type="button">12</button> </li>
    <li> <button type="button">13</button> </li>
    <li> <button type="button">14</button> </li>
    <li> <button type="button">15</button> </li>
    <li> <button type="button">16</button> </li>
    <li> <button type="button">17</button> </li>
    <li> <button type="button">18</button> </li>
    <li> <button type="button">19</button> </li>
    <li> <button type="button">20</button> </li>
    <li> <button type="button">21</button> </li>
    <li> <button type="button">22</button> </li>
    <li> <button type="button">23</button> </li>
    <li> <button type="button">24</button> </li>
    <li> <button type="button">25</button> </li>
    <li> <button type="button">26</button> </li>
    <li> <button type="button">27</button> </li>
    <li> <button type="button">28</button> </li>
</ul>
{% endblock %}

{% block title %} Dostępność {% endblock %}
