{% extends 'sportchallenger/base.html' %}

{% block static %}
<!-- This stylesheet contains specific styles for displaying the map
         on this page. Replace it with your own styles as described in the
         documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial -->
<link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">
{% endblock %}
{% block content %}
<div class="col-mid-12">
    <div id="map"></div>
        <!--Google API: AIzaSyAl43muY7eMS_DrDZRzeDzXyEoT2AT-1X0-->
         <iframe src="map">
        </iframe>
</div>

<h2> Strona w przygotowaniu </h2>
<p> Strona w przygotowaniu, więcej informacji wkrótce </p>

<!--W tym miejscu znajdzie się integracja z Google Maps-->
{% endblock %}


{% block title %} Kontakt {% endblock %}
