{% extends 'sportchallenger/base.html' %}

{% block static %}
<!-- This stylesheet contains specific styles for displaying the map
         on this page. Replace it with your own styles as described in the
         documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial -->
<link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">
{% endblock %}
{% block content %}
<div class="col-mid-12">
    <div id="map"></div>
    <script>
        function initMap() {
            var myLatLng = {lat: -25.363, lng: 131.044};

            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
              scrollwheel: false,
              zoom: 4
            });

            // Create a marker and set its position.
            var marker = new google.maps.Marker({
              map: map,
              position: myLatLng,
              title: 'Hello World!'
            });
         }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
            async defer>
    </script>
</div>

<h2> Strona w przygotowaniu </h2>
<p> Strona w przygotowaniu, więcej informacji wkrótce </p>

<!--W tym miejscu znajdzie się integracja z Google Maps-->
{% endblock %}


{% block title %} Kontakt {% endblock %}
