{% extends 'sportchallenger/base.html' %}

{% block content %}
    <h1> {{ facility.name }} </h1>
    <div class="col-mid-6">
        <img class="img-thumbnail" src = '/{{ photo }}'>
    </div>
    <div class="col-mid-6">
        <table class="table table-bordered">
            <tr>
                <td> <strong> ADRES: </strong> </td>
                <td> {{ facility.city }}, {{ facility.street }} </td>
            </tr>
            <tr>
                <td> <strong> RODZAJ OBIEKTU: </strong> </td>
                <td> {{ kind }} </td>
            </tr>
            <tr>
                <td> <strong> DYSCYPLINY: </strong> </td>
                <td> {{ sports }}  </td>
            </tr>
            <tr>
                <td> <strong> OPIS: </strong> </td>
                <td> {{ facility.description }} </td>
            </tr>
            <tr>
                <td> <strong> CENA: </strong>  </td>
                <td> {{ facility.price }} ZŁ / DZIEŃ </td>
            </tr>
        </table>
    </div>
    <form class='formtype-2' action = '' method = 'POST'>
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value = 'SPRAWDŹ DOSTĘPNOŚĆ'>
    </form>

{% endblock %}

{% block title %} Szczegóły obiektu {% endblock %}
