{% extends 'sportchallenger/base.html' %}

{% block content %}
    <p class="navbar-right">
            {% if user.is_authenticated %}
                <a class="menuspace" href="{% url 'user_details' %}"> KONTO </a>
            {% else %}
                <a class="menuspace" href="{% url 'new_user' %}"> ZAŁÓŻ KONTO </a>
            {% endif %}
    </p>

    <h1>Obiekty sportowe</h1>
    {% for obj in facility %}
    <table>
        <tr>
            <td rowspan = 4>  <img src = '/{{ obj.photos }} '> </td>
            <td> <strong> <a href = '{% url 'facility_details' obj.id %}'> {{ obj.name }} </a> </strong> </td>
        </tr>
        <tr>
            <td> {{ obj.city }}, ul. {{ obj.street }} </td>
        </tr>
        <tr>
            <td> {{ obj.kind }} </td>
        </tr>
        <tr>
            <td> Cena: {{ obj.price }} </td>
        </tr>
    </table>
    <hr>
    {% endfor %}

{% endblock %}

{% block title %} Main page {% endblock %}