{% extends 'sportchallenger/base.html' %}

{% block content %}
    {% for obj in facility %}
    <!--<div class="col-mid-4">-->
        <!--<img class="img-thumbnail picture-tag" src='/{{ obj.photos }} '>-->
    <!--</div>-->
    <!--<div class="col-mid-8">-->
        <!--<p> <strong> <a href = '{% url 'facility_details' obj.id %}'> {{ obj.name }} </a> </strong> </p>-->
        <!--<p> {{ obj.city }}, ul. {{ obj.street }} </p>-->
        <!--<p> {{ obj.kind }} </p>-->
        <!--<p> Cena: {{ obj.price }} </p>-->
    <!--</div>-->

    <table class="">
        <tr>
            <td class="picture-tag" rowspan = 4>  <img class="img-thumbnail" src='/{{ obj.photos }} '> </td>
            <td> <h1> <a class="facility-link" href = '{% url 'facility_details' obj.id %}'> {{ obj.name }} </a> </h1> </td>
        </tr>
        <tr>
            <td> <strong> Adres: </strong> {{ obj.city }}, ul. {{ obj.street }} </td>
        </tr>
        <tr>
            <td> <strong> Rodzaj obiektu: </strong> {{ obj.kind }} </td>
        </tr>
        <tr>
            <td> <strong> Cena: </strong> {{ obj.price }} za dzień </td>
        </tr>
    </table>
    <hr>
    {% endfor %}

{% endblock %}

{% block title %} Obiekty sportowe {% endblock %}