{% extends 'sportchallenger/base.html' %}

{% block static %}
<script
    src="http://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="/static/js/facilities.js" type="text/javascript"> </script>
{% endblock %}

{% block content %}
    <div class="col-mid-12">
        <table class="search">
            <tr>
                <td class="facility-table"> <input class="search-name" type="text" name="facility_name"
                                                   placeholder="Nazwa obiektu"> </td>
                <td class="facility-table"> <input class="search-price-from price-searcher" type="number" name="price_from"
                                                   placeholder="Cena od"> </td>
                <td class="facility-table" rowspan=2>
                    <form class="kind search-kind">
                        <input class="kind kind-check" type="checkbox" checked="checked" value="hala wielofukcyjna">
                        Hala wielofukcyjna <br>
                        <input class="kind kind-check" type="checkbox" checked="checked" value="boisko piłkarskie">
                        Boisko piłkarskie <br>
                        <input class="kind kind-check" type="checkbox" checked="checked" value="pływalnia">
                        Pływalnia <br>
                        <input class="kind kind-check" type="checkbox" checked="checked" value="obiekt lekkoatletyczny">
                        Obiekt lekkoatletyczny <br>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="facility-table"> <input class="search-city" type="text" name="city" placeholder="Miasto"> </td>
                <td class="facility-table"> <input class="search-price-to price-searcher" type="number" name="price_to"
                                                   placeholder="Cena do"> </td>
            </tr>
        </table>
        <hr>
    </div>
    <div class="col-mid-12">
        {% for obj in facility %}
        <table class="facility-details-table">
            <tr>
                <td class="picture-tag" rowspan = 4>  <img class="img-thumbnail" src='/{{ obj.photos }} '> </td>
                <td> <h1> <a class="facility-link" href = '{% url 'facility_details' obj.id %}'> {{ obj.name }} </a> </h1> </td>
            </tr>
            <tr>
                <td class="facility-address"> <strong> Adres: </strong> {{ obj.city }}, ul. {{ obj.street }} </td>
            </tr>
            <tr>
                <td class="facility-kind"> <strong> Rodzaj obiektu: </strong> {{ obj.kind }} </td>
            </tr>
            <tr>
                <td class="facility-price"> <strong> Cena: </strong> {{ obj.price }} za dzień </td>
            </tr>
        </table>
        <hr>
    {% endfor %}
    </div>

{% endblock %}

{% block title %} Obiekty sportowe {% endblock %}